:root {
    --player-bar-height: 105px;
    --player-button-size: 48px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

/* All inputs (like the searchbar) */
input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.connect-device-list-container {
    box-shadow: 0 4px 20px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowTitle {
    color: var(--spice-button);
}

.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: var(--spice-button);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
    color: var(--spice-main);
}

/* Don't change the text color when hoverin over playlists */
.main-rootlist-textWrapper:focus, 
.main-rootlist-textWrapper:hover {
    color: unset;
}


/* Sidebar links when selected */
.main-navBar-navBarLinkActive, 
.main-navBar-navBarLinkActive:focus,
.main-navBar-navBarLinkActive:hover,
.main-collectionLinkButton-collectionLinkButton.main-collectionLinkButton-selected {
    background: var(--spice-button);
    color: var(--spice-main);
}

.main-collectionLinkButton-selected > .main-rootlist-statusIcons * {
    color: var(--spice-main);
}


div.GlueDropTarget.personal-library >*.active {
    background: var(--spice-button) !important;
}

.main-contextMenu-menu {
    background-color: var(--spice-button-active);
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    color: var(--spice-text);
}

/** Queue page header */
.queue-queue-title,
.queue-playHistory-title {
    color: var(--spice-text) !important;
}

/** Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

/** Sidebar */
.main-rootlist-rootlistDivider {
    margin-bottom: 8px;
}

.main-rootlist-rootlistPlaylistsScrollNode {
    padding: 0;
}

/* li elements in sidebar */
.main-rootlist-rootlistItem > .main-rootlist-rootlistItemLink {
    cursor: pointer;
}

#spicetify-playlist-list {
    padding-top: 8px;
}
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-icon,
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-collectionLinkText {
    opacity: 1;
}

.link-subtle {
    transition: none;
}

/** Footer with playback & buttons */
.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

.main-nowPlayingBar-container {
    border-top: none;
}

/* Playback bar */
.playback-bar {
    position: absolute;
    /* TODO */
    bottom: calc(var(--player-bar-height) - 8px);
}

/* The progress bar and volume slider*/
.progress-bar__fg {
    background-color: var(--spice-button);
}

/* The playback button container */
.player-controls__buttons {
    margin-bottom: 0;
    width: unset;
}

/* Size of playback buttons and margin between buttons */
.player-controls__buttons > button,
.player-controls__buttons > div > button {
    --button-size: var(--player-button-size) !important;   
    margin-right: calc(var(--button-size)/4);
    margin-left: calc(var(--button-size)/4); 
}


/* if the shufflebutton is enabled */
.main-shuffleButton-button.main-shuffleButton-on:not([disabled]):focus, 
.main-shuffleButton-button.main-shuffleButton-on:not([disabled]):hover {
    color: var(--spice-text);
}

/* Make svg's inside button containers bigger */
.player-controls__buttons svg {
    transform: scale(1.25);
}


/* The play/pause button in the footer */
.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: var(--spice-main);
}

.main-playButton-PlayButton.main-playButton-primary {
    color: var(--spice-main);
}

/** Buddy bar */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink {
    color: var(--spice-text);
}