*.err
*.log
.Xauthority
.aspnet/
.atom/
.azuredatastudio/
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.cmake/
.config/Code - OSS
.config/Code/
.config/Element/
.config/Emby Theater/
.config/FortiClient/
.config/Netron/
.config/PulseEffects/
.config/QtProject*
.config/Raspberry Pi/
.config/VSCodium/
.config/azuredatastudio/
.config/balena-etcher/
.config/enchant/
.config/flashpoint-launcher/
.config/glade.conf
.config/godot/
.config/gwe/
.config/jellyfin.org/
.config/jupyter/
.config/kcharselectrc
.config/kdenlive*
.config/ktrashrc
.config/lsp-plugins/
.config/mimeapps.list
.config/npm/
.config/nvidia/
.config/nvim/plugged/
.config/obs-studio/
.config/polybar/scripts/nm-applet/curr_ssid
.config/qalculate/
.config/ranger/colorschemes/__init__.py
.config/ranger/colorschemes/__pycache__/
.config/ranger/commands*
.config/ranger/rifle.conf
.config/ranger/scope.sh
.config/rpcs3/
.config/simplescreenrecorder/
.config/spicetify/Backup/*
.config/spicetify/CustomApps/*
.config/spicetify/Extracted/
.config/spicetify/Extracted/*
.config/spicetify/Raw/*
.config/tuxedo-control-center/
.config/wget/
.config/wireshark/
.directory
.dmrc
.docker/
.dotnet/
.factorio/
.fehbg
.gem/
.gitignore
.gnome/
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.ipython/
.java/
.jupyter/
.kde4/
.keras/
.kodi/
.kube/
.local/
.microsoft/
.mono/
.mozilla/
.mysql/
.mysql_history
.npm/
.nuget/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pki/
.processing/
.pulse-cookie
.putty/
.python_history
.rubberband.wisdom.d
.rubberband.wisdom.d/
.sqlsecrets/
.ssh/
.steam/
.steampath
.steampid
.templateengine/
.thunderbird/
.tsh/
.vmware/
.vnc/
.vpython*
.vscode-oss/
.vscode-react-native/
.vscode/
.vsdbg/
.wget-hsts
.wine/
.xbindkeysrc
.xprofile
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump
.zcompdump-127-5.8
.zcompdump-Arch-5.8
.zsh_history
Android Open Source Project/
Atom/
Code/
Designerrc
Desktop/
Documents/
Downloads/
Electron/
ElectronChrome/
EnhancedDiscord/
Fritzing/
GIMP/
Games/
GeoGebra/
GitHub Desktop/
GitKraken/
Google/
Hacknet/
ICAClient/
JetBrains/
Kitware/
Kvantum/
Microsoft/
NuGet/
Opendesktop App/
Pictures/
Postman/
PureRef.ini
QDirStat/
QtProject.conf
QtProject/
Riot/
Signal/
Slack/
Thunar/
Trolltech.conf
Trolltech/
UMS/
Videos/
VirtualBox VMs/
VirtualBox/
VirtualBoxrc
activePlayer/currentPlaying.txt
akonadi-firstrunrc
akonadi-migrationrc
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contactrc
akonadi_ical_resource_0rc
akonadi_imap_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
arkrc
aurman/
autostart-scripts/
autostart/
balena-etcher-electron/
baloofileinformationrc
baloofilerc
banshee-1/
blender/
bluedevilglobalrc
blurme/
borg/
bovorc
breezerc
brol/
bunkus.org/
cantata/
cef_user_data/
cervisiarc
chromium/
ckb-next/
cmus/
compiz-1/
configstore/
currentPlaying.txt
dconf/
deluge/
device_automounter_kcmrc
discord/
discoverrc
dolphinrc
dragonplayerrc
draw.io/
drkonqirc
eDEX-UI/
easystroke/
easytag/
emaildefaults
emailidentities
enchant/*
eventviewsrc
evince/
fancontrol-gui
figma-linux/
filelightrc
filetypesrc
filezilla/
gconf/
ghb/
gtk-2.0/
gtk-3.0/
gtk-4.0/
guvcview2/
gwenviewrc
htop/
inkscape/
jukrc
k3brc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kaddressbookrc
kalarmrc
katemetainfos
katepartrc
katerc
kateschemarc
katevirc
kcalcrc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org/
kdebugrc
kdebugsettingsrc
kdeconnect/
kded5rc
kded_device_automounterrc
kdeglobals
kdenliverc
kdfrc
kfindrc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kio_fishrc
kio_ftprc
kiorc
kipioauthrc
kipirc
klaunchrc
kleopatrarc
kmagrc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kmetainformationrc
kmixrc
knotifyrc
kolourpaintrc
komparerc
konq_history
konquerorrc
konsolerc
korgacrc
korganizerrc
kpatrc
kprivacyrc
krulerrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
kubrickrc
kwalletrc
kwaverc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
libinput-gestures.conf
libreoffice/
light/
lo_kde5filepickerrc
lutris/
mailtransports
menus/
mkvtoolnix-guirc
mpv/
networkmanagement.notifyrc
nextjs-nodejs/
nltk_data/
obs-studio/*
ocs-manager/
okularpartrc
okularrc
oomox/
pavucontrol.ini
phishingurlrc
plasma-locale-settings.sh
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace/
plasma_calendar_holiday_regions
plasmarc
plasmashellrc
powermanagementprofilesrc
print-manager
procps/
pulse/
pulseaudio-ctl/
pywal/
qt5ct/
ranger/colorschemes/_*
s-tui/
sddmthemeinstallerrc
session/
sketchbook/
smplayer/
specialmailcollectionsrc
spectaclerc
spotify/
startupconfig
startupconfigfiles
startupconfigkeys
sublime-text-3/
sweeperrc
systemmonitorrc
systemsettingsrc
teams/
teamviewer/
templatesconfigurationrc
texstudio/
touchpadrc
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vivaldi/
vlc/
vlcrc
wal/
webengineurlinterceptoradblockrc
whoozle.github.io/
xfce4/
xm1/
yay/
youtube-dlg/
zoomus.conf
