*.err
currentPlaying.txt
activePlayer/currentPlaying.txt
.gitignore
.directory
.vscode/
Android Open Source Project/
Atom/
.vscode/
Code/
Designerrc
ElectronChrome/
GIMP/
GeoGebra/
Hacknet/
Kitware/
Kvantum/
NuGet/
Opendesktop App/
QDirStat/
QtProject.conf
QtProject/
Signal/
Thunar/
Trolltech.conf
VirtualBox/
VirtualBoxrc
akonadi-firstrunrc
akonadi-migrationrc
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contactrc
akonadi_ical_resource_0rc
akonadi_imap_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
arkrc
aurman/
autostart-scripts/
autostart/
baloofileinformationrc
baloofilerc
banshee-1/
blender/
bluedevilglobalrc
blurme/
bovorc
breezerc
bunkus.org/
cantata/
cef_user_data/
cervisiarc
chromium/
cmus/
configstore/
dconf/
deluge/
device_automounter_kcmrc
discord/
discoverrc
dolphinrc
dragonplayerrc
drkonqirc
dunst/
easystroke/
easytag/
emaildefaults
emailidentities
eventviewsrc
fancontrol-gui
filelightrc
filetypesrc
fontconfig/
gconf/
gtk-2.0/
gtk-3.0/
gwenviewrc
htop/
inkscape/
jukrc
k3brc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kaddressbookrc
kalarmrc
katemetainfos
katepartrc
katerc
kateschemarc
katevirc
kcalcrc
kcmfonts
kcminputrc
kcmshell5rc
kconf_updaterc
kde.org/
kdebugrc
kdebugsettingsrc
kdeconnect/
kded5rc
kded_device_automounterrc
kdeglobals
kdfrc
kfindrc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kio_fishrc
kio_ftprc
kiorc
klaunchrc
kleopatrarc
kmagrc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kmetainformationrc
kmixrc
knotifyrc
kolourpaintrc
komparerc
konq_history
konquerorrc
konsolerc
korgacrc
korganizerrc
kprivacyrc
krulerrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktimezonedrc
kubrickrc
kwalletrc
kwaverc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
libinput-gestures.conf
libreoffice/
lo_kde5filepickerrc
mailtransports
menus/
mimeapps.list
mkvtoolnix-guirc
neofetch/
networkmanagement.notifyrc
ocs-manager/
okularpartrc
okularrc
oomox/
pavucontrol.ini
phishingurlrc
plasma-locale-settings.sh
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma_calendar_holiday_regions
plasmarc
plasmashellrc
powermanagementprofilesrc
print-manager
pulse/
qt5ct/
redshift.conf
rofi/
s-tui/
sddmthemeinstallerrc
session/
smplayer/
specialmailcollectionsrc
spectaclerc
spotify/
startupconfig
startupconfigfiles
startupconfigkeys
sublime-text-3/
sweeperrc
systemmonitorrc
systemsettingsrc
teamviewer/
templatesconfigurationrc
touchpadrc
trashrc
unity3d/
vlc/
vlcrc
webengineurlinterceptoradblockrc
whoozle.github.io/
xfce4/
xm1/
yay/
youtube-dlg/
