$theme: "dark";

$red: #bf616a;
$green: #a3be8c;
$blue: #5e81ac;
$yellow: #ebcb8b;
$magenta: #b48ead;
$teal: #8fbcbb;
$orange: #d08770;

$bg_color: #2e3440;
$fg_color: #eceff4;
$hover_fg: #eceff4;
$accent_fg: #2e3440;
