* {
  accent:           #a3be8c;
  background:       #3b4252;
  background-light: #4c566a;
  foreground:       #E4E4E4;
  on:               #44ad4d;
  off:              #e34039;
}

window {
  transparency: "real";
}
