* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Hack;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.9);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: black;
    border: none;
}

/**************/
/* Workspaces */
/**************/

#workspaces {
    margin-right: 8px;
}

/* non-empty workspaces */
#workspaces button {
    background-color: #4c566a;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;

    color: #d8dee9;
    transition: all 0.2s ease;

    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    /* transition-duration: .1s; */
    color: #eceff4;
    box-shadow: inset 0 -2px #ffffff;
    /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
    text-shadow: inherit;
}

/* empty workspaces */
#workspaces button.persistent {
    background-color: #2e3440;
}

/* active or visible workspaces */
#workspaces button.active,
#workspaces button.visible {
    background-color: #4c566a;
    box-shadow: inset 0 -4px #eceff4;
}

#workspaces button.urgent {
    color: #bf616a;
}

/**************/

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#custom-date,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#custom-power,
#mpd {
    border-radius: 8px;
    padding: 0 12px 0 12px;
    margin: 5px 5px 5px 0;
}

#custom-power {
    border: none;
    border-radius: 0;
    margin-right: 5px;

    /* the power icon seems to be off-center, need to adjust: */
    padding: 0px 16px 0px 10px; 
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: #64727D;
}

#custom-date {
    color: black;
    background-color: #b48ead;
}

#battery {
    color: black;
    background-color: #ebcb8b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: #bf616a;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: black;
}

#cpu {
    background-color: #bf616a;
    color: black;
}

#memory {
    background-color: #a3be8c;
    color: black;
}

/* #disk {
    background-color: #964B00;
} */

/* #backlight {
    background-color: #90b1b1;
} */

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #bf616a;
}

#pulseaudio {
    background-color: #d8dee9;
    color: black;
}

/* #wireplumber {
    background-color: #fff0f5;
    color: black;
} */

/* #wireplumber.muted {
    background-color: #bf616a;
} */

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    color: black;
    background-color: #ffa000;
}

#custom-media.custom-jellyfin {
    /* https://jellyfin.org/docs/general/contributing/branding */
    color: #000B25;
    background-color: #AA5CC3;
}



#temperature {
    background-color: #d08770;
    color: black;
}

#temperature.critical {
    background-color: #d08770;
}

#tray {
    background-color: #eceff4;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #bf616a;
}

/* #idle_inhibitor {
    background-color: #2d3436;
} */

/* #idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
} */

/* #mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #bf616a;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
} */

/* #language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
} */

/* #keyboard-state {
    background: #97e1ad;
    color: black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
} */